{% load static %}
{% load tailwind_tags %}

<div class="my-8 scroll-smooth mb-32">
    <!-- title -->
    <div>
        <h2 class="text-6xl font-thin text-gray-700 px-8 mb-8">
            Product Showcase
        </h2>
    </div>
    <!-- crosscheck -->

    <div class="grid place-items-center xl:grid-cols-2 grid-cols-1 xl:gap-0 gap-4">
        <div class="">
            <div class="shadow-lg max-w-xl">
                <div
                    class="space-y-4 bg-gradient-to-br bg-opacity-50 from-cheetah-gold to-gray-100 p-10 grid place-items-center shadow-lg">
                    <img src="{% static 'images/cheetah.png' %}" alt="" class="w-full object-scale-down">
                </div>
                <div class="space-y-4 bg-acc-back p-10">
                    <h2 class="text-4xl text-gray-700 font-bold">
                        Cheetah
                    </h2>
                    <p class="text-gray-700">
                        We give Cheetah the web tools needed to successfully and effectively teach project management.
                    </p>
                </div>
            </div>
        </div>
        {% with xc_apple="https://apps.apple.com/us/app/crosscheck-hockey/id1585600361" %}
        {% with xc_google="https://play.google.com/store/apps/details?id=com.landersweb.pnflutter" %}
        {% with xc_web="https://xcheck.app" %}
        <div class="">
            <div class="shadow-lg max-w-xl">
                <div
                    class="space-y-4 bg-gradient-to-br bg-opacity-50 from-xcheck-1 to-xcheck-2 p-10 grid place-items-center shadow-lg">
                    <img src="{% static 'images/xcheck_light.png' %}" alt=""
                        class="w-full object-scale-down max-w-[250px]">
                </div>
                <div class="space-y-4 bg-acc-back p-10">
                    <h2 class="text-4xl text-gray-700 font-bold">
                        Crosscheck
                    </h2>
                    <p class="text-gray-700">
                        A personal project, helps users manage their sports team elegantly, easily, and effectively.
                    </p>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        <div class="">
            <div class="shadow-lg max-w-xl">
                <div
                    class="space-y-4 bg-gradient-to-br bg-opacity-50 from-etsi-green to-gray-100 p-10 grid place-items-center shadow-lg">
                    <img src="{% static 'images/etsi.png' %}" alt="" class="w-full object-scale-down">
                </div>
                <div class="space-y-4 bg-acc-back p-10">
                    <h2 class="text-4xl text-gray-700 font-bold">
                        ETSI
                    </h2>
                    <p class="text-gray-700">
                        ETSI needed a safe and effective way to store their complex travel request data, and we gave
                        them the tools to do so.
                    </p>
                </div>
            </div>
        </div>
        <div class="xl:pt-[100px]">
            <div class="shadow-lg max-w-xl">
                <div
                    class="space-y-4 bg-gradient-to-br bg-opacity-50 from-teal-500 to-gray-100 p-10 grid place-items-center shadow-lg">
                    <img src="{% static 'images/jake_web.png' %}" alt="" class="w-full object-scale-down">
                </div>
                <div class="space-y-4 bg-acc-back p-10">
                    <h2 class="text-4xl text-gray-700 font-bold">
                        Jake Landers
                    </h2>
                    <p class="text-gray-700">
                        Where a lot of personal learning happens, check it out and see the cool things we can do for
                        you!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>