<div class="m-8 space-y-4">
    <!-- title -->
    <div>
        <h2 class="text-4xl font-extralight text-gray-700">
            Products
        </h2>
    </div>
    <div class="md:grid md:grid-cols-2 grid-cols-1 md:gap-8 space-y-4 md:space-y-0">
        <!-- team management -->
        <div
            class="bg-gray-400 w-full p-8 rounded-2xl flex space-x-4 items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:baseline-sports-hockey" data-width="300"
                data-height="100"></span>
            <div class="space-y-2">
                <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                    TEAM MANAGEMENT
                </h2>
                <p class="text-white opacity-50">
                    Upgrade your small buisiness or sports team to the next level with a fully managed scheduling
                    solution. Give your team a modern portal to access the team's schedule, set their intended
                    attendance, chat with the team, and much more! Want to get started with a basic sports team? Check
                    out <a href="https://xcheck.app" target="_blank"
                        class="text-main hover:opacity-50 underline">xcheck.app</a>!
                </p>
            </div>
        </div>
        <!-- exam management -->
        <div
            class="bg-gray-400 w-full p-8 rounded-2xl flex space-x-4 items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:round-checklist-rtl" data-width="300"
                data-height="100"></span>
            <div class="space-y-2">
                <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                    EXAM MANAGEMENT
                </h2>
                <p class="text-white opacity-50">
                    Could your product or buisisess benefit from a comprehensive exam taking
                    solution internally or externally? Landersweb has over 5 years experience developing and maintaining
                    complex exam
                    management tools. Our existing experience can be mapped to any project or task.
                </p>
            </div>
        </div>
        <!-- web portals -->
        <div
            class="bg-gray-400 w-full p-8 rounded-2xl flex space-x-4 items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:round-web" data-width="300"
                data-height="100"></span>
            <div class="space-y-2">
                <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                    WEB PORTALS
                </h2>
                <p class="text-white opacity-50">
                    Let Landersweb take your existing user and buisiness data and visualize it for you on the cloud.
                    Custom build web portals allow you to access your data and manipulate it however you need with
                    graphing and export tools. Contact
                    us for more information on this service.
                </p>
            </div>
        </div>
        <!-- e commerce -->
        <div
            class="bg-gray-400 w-full p-8 rounded-2xl flex space-x-4 items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:outline-shopping-cart" data-width="300"
                data-height="100"></span>
            <div class="space-y-2">
                <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                    E-COMMERCE
                </h2>
                <p class="text-white opacity-50">
                    If you have a product worth selling or want to set up a shop for multiple items, Landersweb has the
                    solution. Using the latest tools, we will build out a custom e-commerce solution to help you reach
                    your buisiness goals. If you have an existing e-commerce system, let Landers extend and improve it!
                </p>
            </div>
        </div>
    </div>
</div>