{% load tailwind_tags %}

<div class="m-8 space-y-4">
    <!-- title -->
    <div>
        <h2 class="text-4xl font-extralight">
            Services
        </h2>
    </div>
    <!-- main services -->
    <div class="md:grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-4 space-y-4 md:space-y-0">
        <!-- full stack solution -->
        <div class="bg-main w-full p-8 rounded-2xl space-y-6 flex flex-col 
        items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:baseline-layers" data-width="200"
                data-height="100"></span>
            <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                FULL STACK SOLUTION
            </h2>
            <p class="text-white opacity-50">
                Landersweb offers a wide variety of options to enable your buisiness to thrive on the web. We can handle
                your data and website with secure providers like Amazon, and ensure a high degree of scalability as your
                buisiness grows. Along with a flagship website and mobile app, you will be ready to appeal to all
                customers.
            </p>
            <span class="iconify text-white opacity-50" data-icon="ic:round-navigate-next" data-width="150"
                data-height="75"></span>
        </div>
        <!-- app development -->
        <div class="bg-acc-salmon w-full p-8 rounded-2xl space-y-6 flex flex-col 
        items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:outline-phone-android" data-width="200"
                data-height="100"></span>
            <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                APP DEVELOPMENT
            </h2>
            <p class="text-white opacity-50">
                A Landersweb specialty. A mobile app has complex and custom needs, and Landersweb can make sure you get
                exactly what you need
                with a modern, slick UI. Apps built with Flutter run natively on iOS and Android, so your app will run
                lightning fast on any platform. We also offer tablet solutions written in native iOS.
            </p>
            <span class="iconify text-white opacity-50" data-icon="ic:round-navigate-next" data-width="150"
                data-height="75"></span>
        </div>
        <!-- web development -->
        <div class="bg-acc-pink w-full p-8 rounded-2xl space-y-6 flex flex-col 
        items-center justify-center hover:scale-105 transition-all shadow-sm">
            <span class="iconify text-white opacity-50" data-icon="ic:baseline-laptop" data-width="200"
                data-height="100"></span>
            <h2 class="text-3xl font-extralight text-white opacity-50 tracking-wider">
                WEB DEVELOPMENT
            </h2>
            <p class="text-white opacity-50">
                Need a website too? No problem! Landers will use their expertise to craft you a website using the right
                tools for the job. Whether you want a full fledged web application or an ecomerce website, Landers will
                design and create the perfect website using the greatest technology for you.
            </p>
            <span class="iconify text-white opacity-50" data-icon="ic:round-navigate-next" data-width="150"
                data-height="75"></span>
        </div>

    </div>
</div>