{% load tailwind_tags %}

<div class="transition-all p-2">
    <div class="flex justify-between items-center">
        <h1 class="p-2 md:px-10 text-gray-700 font-bold text-2xl">
            Landersweb
        </h1>
        <div class="hidden px-8 md:flex p-2 md:px-10 items-center w-full justify-between space-x-10">
            <div class="w-full"></div>
            <a href="https://jakelanders.com" target="_blank">
                <h3 class="font-medium text-gray-700 hover:text-opacity-50 text-sm">
                    Blog
                </h3>
            </a>
            <a href="#">
                <div
                    class="estimate py-2 border-2 rounded-full border-gray-700 hover:border-gray-700 justify-center text-gray-700 hover:bg-gray-700 hover:text-white">
                    <h3 class="px-8 truncate font-bold">
                        Get a Free Estimate
                    </h3>
                </div>
            </a>
        </div>
        <div class="md:hidden flex items-center">
            <nav x-data="{ open: false }">
                <button
                    class="mobile-menu-button text-gray-700 w-10 h-10 relative focus:outline-none hover:text-opacity-50"
                    @click="open = !open">
                    <span class="sr-only">Open main menu</span>
                    <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                        <span aria-hidden="true"
                            class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                            :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                        <span aria-hidden="true"
                            class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out"
                            :class="{'opacity-0': open } "></span>
                        <span aria-hidden="true"
                            class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                            :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                    </div>
                </button>
            </nav>
        </div>
    </div>
    <div class="mobile-menu transition-all duration-500 ease-in-out text-white hidden opacity-0 max-h-0">
        <div class="px-8 md:flex p-2 md:px-10 items-center w-full justify-between space-x-10">
            <a href="https://jakelanders.com" target="_blank">
                <h3 class="font-medium text-gray-700 hover:text-opacity-50 text-sm grid place-items-center">
                    Blog
                </h3>
            </a>
            <a href="#">
                <div
                    class="estimate py-2 border-2 rounded-full border-gray-700 hover:border-gray-700 grid place-items-center text-gray-700 hover:bg-gray-700 hover:text-white">
                    <h3 class="px-8 truncate font-bold">
                        Get a Free Estimate
                    </h3>
                </div>
            </a>
        </div>
    </div>

    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            if (menu.classList.contains("opacity-0")) {
                // set menu to open
                menu.classList.remove("hidden");
                // small delay then animate the opem
                setTimeout(() => {
                    menu.classList.remove("opacity-0");
                    menu.classList.remove("max-h-0");
                    menu.classList.add("opacity-100");
                    menu.classList.add("max-h-screen");
                }, 10);
            } else {
                // close menu
                menu.classList.remove("opacity-100");
                menu.classList.remove("max-h-screen");
                menu.classList.add("opacity-0");
                menu.classList.add("max-h-0");
                // hide after animation is done
                setTimeout(() => { menu.classList.add("hidden"); }, 500);
            }
        });

        const estimate = document.querySelector(".estimate");

        window.addEventListener('scroll', () => {
            let y = 1 + (window.scrollY || window.pageYOffset)
            y = y < 1 ? 1 : y // ensure y is always >= 1 (due to Safari's elastic scroll)
            if (y > 100) {
                estimate.classList.remove("hover:bg-gray-700");
                estimate.classList.add("hover:bg-theme-main");
                estimate.classList.remove("hover:border-gray-700");
                estimate.classList.add("hover:border-theme-main");
            } else {
                estimate.classList.remove("hover:bg-theme-main");
                estimate.classList.add("hover:bg-gray-700");
                estimate.classList.remove("hover:border-theme-main");
                estimate.classList.add("hover:border-gray-700");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</div>