{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Landersweb - Custom Web Solutions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Jake Landers">
    <meta name="robots" content="index, follow">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/kremalicious/appstorebadges/master/dist/appstorebadges.min.css" />
    <!-- <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/github-dark.min.css"> -->
    {% tailwind_css %}
</head>

<body class="bg-gray-700">
    <div class="text-cgray-800 bg-acc-back">
        {% block content %}{% endblock %}
    </div>
    <div>{% include "main/footer.html" %}</div>
</body>

</html>